*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: auto;
    height: 200vh;
    font-family: verdana;
}
header{
    width:100%;
    height: 600px;
    background-image: url(foto/architektai.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 0px 2px  5px grey;
}
.logo{
    width:120px;
    height: 40px;
    display: block;
    position: absolute;
     text-align: center;
    padding-top: 10px;
}
span:hover{
    background-color: lightgray;
}
ul{
    width: 100%;
    height: 60px;
    text-align: right;
}
li{ 
    width:120px;
    height: 40px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: black;
}
li:hover{
    background-color: lightgray;
}

h1{
    width: 400px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
    color:whitesmoke;
    text-shadow: 2px 2px black;
}
.BR{
    padding: 20px;
    background-color: grey;
}

/*font-family: 'Open Sans', sans-serif;*/

h2{
    width:200px;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    margin: 60px 20px 20px 60px;
}
section{
    width: 100%;
    height: auto;
    text-align: center;
}
.projektai div{
    width: 280px;
    height: 180px;
    display: inline-block;
    margin: 15px;
}
h3{
    background-color: black;
    color:white;
    padding: 10px;
    width: 200px;font-family: 'Open Sans', sans-serif;
    
}
.foto1{
    background-image: url(foto/summer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.foto2{
    background-image: url(foto/Brick%20House.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.foto3{
    background-image: url(foto/renovated.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.foto4{
    background-image: url(foto/barn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.foto5{
    background-image: url(foto/summer2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.foto6{
    background-image: url(foto/Brick%20House2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}
.foto7{
    background-image: url(foto/renovated2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.foto8{
    background-image: url(foto/Brick%20House2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
footer{
    width:100%;
    height:150px;
    background-color:black;
}
footer p{
    text-align:center;
    color:white;
    padding-top:50px;
}














